name = "FLOWFarm"
uuid = "eb2d4cfc-2064-11ea-0a1c-63d372e6a848"
authors = ["Jared J. Thomas <jaredthomas68@gmail.com>", "PJ Stanley <stanley_andrewpj@yahoo.com>"]
version = "1.0.0"

[deps]
DiffResults = "163ba53b-c6d8-5494-b064-1a9d43ac40c5"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
FLOWMath = "6cb5d3fb-0fe8-4cc2-bd89-9fe0b19a99d3"
FiniteDiff = "6a86dc24-6348-571c-b903-95158fe2bd41"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
Geodesy = "0ef565a4-170c-5f04-8de2-149903a85f3d"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
ReverseDiff = "37e2e3b7-166d-5795-8a7a-e32c996b4267"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
SparseDiffTools = "47a9eef4-7e08-11e9-0b38-333d64bd3804"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
TestSetExtensions = "98d24dd4-01ad-11ea-1b02-c9a08f80db04"
YAML = "ddb6d928-2868-570f-bddf-ab3f9cf99eb6"

[compat]
DiffResults = "1"
FLOWMath = "1"
FiniteDiff = "2.27.0"
ForwardDiff = "1"
Geodesy = "1"
ReverseDiff = "1"
SparseDiffTools = "1,2"
SpecialFunctions = "2"
TestSetExtensions = "3.0.0"
YAML = "0.4"
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
